.Gallery-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30vw;
  margin: 1em;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

.Gallery-wrapper img { 
  max-width: 100%;
  max-height: 50vh
}

.cart-btn {
padding: 0 .5em;
}