.NavBar-items{
  padding: 2rem;
  color: #0f0f0f;
  font-family: 'Work Sans', sans-serif;
}

.NavBar-logo {
  font-size: 3em;
  font-style: italic;
  font-weight: 800;
}

.NavBar-listItem{
  margin-left: 2rem;
  display: inline-block;
  font-size: 1.5em;
}